<%- include('../partials/header') %>


<table>
    <thead>
        <tr>
            <th>Curriculum</th>
            <th>Rounds</th>
            <th>Time</th>
            <th>Students</th>
            <th></th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% if (lessons.length) { %>
        <% lessons.forEach(function(l) { %>
            <tr>
                <td class="class-item"><%= l.curriculum %></td>
                <td class="class-item"><%= l.rounds %></td>
                <td class="class-item"><%= l.timerounds %></td>
                <td class="class-item">
                    <%- l.students.map(s =>
                        `<ul>${s.name}, ${s.belt}, ${s.stripes}</ul>`
                    ).join('') %>
                </td>
                <td class="class-item">
                    <% if (user?._id.equals(l.user)) {%>
                    <form action="/lessons/<%= l._id %>/students" method="POST">
                    <select name="studentId">
                        <%- students.map(s => 
                            `<option value="${s._id}">${s.name}</option>`
                        ).join('') %>
                    </select>
                    <button type="submit">Add Student</button>
                    <% } %>
                    </form>
                </td>
                <td class="class-item"><%= l.date.toLocaleDateString() %></td>
                <td class="class-item">
                    <% if (user?._id.equals(l.user)) {%>
                        <form action="/lessons/<%= l.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %>
                </td>
                <td class="class-item">
                    <% if (user?._id.equals(l.user)) {%>
                        <a href="/lessons/<%= l.id %>/edit"><button>Edit</button></a>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        <%} else {%>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p>No Lessons</p>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>


<a href="lessons/new" class="add-lesson"><button>Add Lesson</button></a>

<%- include('../partials/footer') %>