<%- include('../partials/header') %>

<% if(lesson.lenght > 0) { %>
<table>
    <thead>
        <tr>
            <th>Curriculum</th>
            <th>Rounds:</th>
            <th>Time</th>
            <th>Students</th>
            <th>Student belt</th>
        </tr>
    </thead>
    <tbody>
            <% lesson.forEach(function(l) { %>
                <tr>
                    <td><%= l.curriculum %></td>
                    <td><%= l.rounds %></td>
                    <td><%= l.timerounds %></td>
                    <td><%= l.students %></td>
                    <td><%= l.belt %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h1>No Lessons Yet</h1>
<% }; %>

<%- include('../partials/footer') %>